.login-container {
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    background: #f7f7f7;
    border-radius: 5px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 18px;
}

button {
    width: 100%;
    padding: 12px;
    background: #2980b9;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #3498db;
}
